<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learn.clinic.mapper.PatientDrugMapper">


    <resultMap id="RecordVOResultMap" type="com.learn.clinic.dao.vo.RecordVO">
        <id property="id" column="id" />
        <result property="patientName" column="patientName" />
        <result property="doctorName" column="doctorName" />
        <result property="drugName" column="drugName" />
        <result property="price" column="price" />
        <result property="createTime" column="createTime" />
    </resultMap>


    <select id="queryRevenue" resultType="java.lang.Double">
            select sum(t_drug.price) from t_patient_drug
            left join t_drug on t_patient_drug.drug_id = t_drug.id
    </select>
    <select id="queryRecentData" resultType="com.learn.clinic.dao.vo.RecentStaticVO">
        select sum(t_drug.price) revenue, t_patient_drug.update_time date
        from t_patient_drug left join t_drug on t_drug.id = t_patient_drug.drug_id
        WHERE t_patient_drug.update_time >= CURDATE() - INTERVAL 7 DAY
        GROUP BY t_patient_drug.update_time;
    </select>
    <select id="queryList" resultMap="RecordVOResultMap">
        select t_patient_drug.id as id, t_patient.name as patientName, t_user.username as doctorName, td.name as drugName, td.price as price, t_patient_drug.create_time as createTime
            from t_patient_drug left join t_drug td on t_patient_drug.drug_id = td.id
        left join t_user on t_user.id = t_patient_drug.user_id
        left join t_patient on t_patient_drug.patient_id = t_patient.id
        <if test="patientName != null and patientName.length > 0">
            <where>
                t_patient.name = #{patientName}
            </where>
        </if>
        limit #{offset}, #{size}
    </select>
</mapper>
