<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.learn.clinic.mapper.PermissionMapper">

    <select id="selectPermission" resultType="com.learn.clinic.dao.entity.PermissionDO">
            select permission.*
            from
                (select * from t_user where t_user.id = #{id})
            as user left join t_user_role_relation as user_role
            on user.id = user_role.user_id
            left join t_role role
            on user_role.role_id = role.id
            left join t_role_permission_relation as role_permission
            on role.id = role_permission.role_id
            left join t_permission as permission
            on permission.id = role_permission.permission_id
    </select>
    <select id="queryPermission" resultType="com.learn.clinic.dao.entity.PermissionDO">
        select t_permission.*  from
            (select * from t_request_path where url=#{path}) request_path
        left join t_request_path_permission_relation
        on t_request_path_permission_relation.url_id = request_path.id
        left join t_permission
        on t_permission.id = t_request_path_permission_relation.permission_id;
    </select>

    <resultMap id="PermissionRequestVOResultMap" type="com.learn.clinic.dao.vo.PermissionRequestVO">
        <id property="key" column="id" />
        <result property="title" column="permission_name" />
        <collection property="children" ofType="com.learn.clinic.dao.vo.RequestPathVO">
            <id property="key" column="pathId" />
            <result property="title" column="description" />
        </collection>
    </resultMap>


    <select id="queryPermissionList" resultMap ="PermissionRequestVOResultMap">
        select
            p.id as id,
            p.permission_name as permission_name,
            rp.id as pathId,
            rp.description as description
        from t_permission p
                 left join t_request_path_permission_relation rpr
                           on p.id = rpr.permission_id
                 left join t_request_path rp
                           on rpr.url_id = rp.id
                <if test="roleId != null">
                    left join t_role_permission_relation
                        on t_role_permission_relation.permission_id = p.id
                    where role_id = #{roleId}
                </if>
    </select>
</mapper>